*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
reflected-plugin/gradle-plugin/build/*
reflected-plugin/build/*
reflected-core/build/*
reflected-navigation/build/*
reflected-navigation-material/build/*